<!DOCTYPE html>
<html>
    <head>
        <mata charset="UTF-8"/>
        <title>PS</title>
    </head>

    <body>
        <div>{{key}}</div></br>
        <button onclick="location.href='test';">Кнопка</button></br>
    </body>
</html>