<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Вход</h1>
<div>
    <form th:action="@{/login}" method="post">
        <table>
            <tr>
                <td><input type="text" placeholder="логин" name="username"/></td>
            </tr>

            <tr>
                <td><input type="password" placeholder="пароль" name="userPass"/></td>
            </tr>

            <tr>
                <td><input type="submit" value="войти"/></td>
            </tr>
        </table>
    </form>
</div>
<div><a href="/">На главную</a></div>
</body>
</html>